<style type="text/css">

	.defender-grid {
	  display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 80%;
		margin: 2rem auto 0;
	}
	.defender-grid img {
		max-width: 120px;
		height: auto;
	}

</style>

<div class="defender-grid">
	<img src="../images/logos/external/dydx.svg" />
	<img src="../images/logos/external/balancer.png" />
	<img src="../images/logos/external/opyn.png" />
	<img src="../images/logos/external/compound.png" />
	<img src="../images/logos/external/props.svg" />
</div>
<div class="defender-grid">
	<img src="../images/logos/external/dydx.svg" />
	<img src="../images/logos/external/dydx.svg" />
	<img src="../images/logos/external/dydx.svg" />
	<img src="../images/logos/external/dydx.svg" />
	<img src="../images/logos/external/dydx.svg" />
</div>